/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/dynamodb-local/
.idea/
.DS_Store
/lib_managed/
bin/*
/modules/**/target
*.pyc
serverless/.serverless/
.history/
target/
/src/main/resources/migration/db/**/*.json
.sbt-serverless
