<configuration>
    <contextListener class="s8scala.logger.LambdaLoggingListener" />
    <define name="lambdaLogLevel" class="s8scala.logger.LambdaLogLevelPropertyDefiner" />

    <appender name="CLOUDWATCH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.yoshiyoshifujii.s8scala" level="${lambdaLogLevel}" />

    <root level="INFO">
        <appender-ref ref="CLOUDWATCH" />
    </root>
</configuration>